<div class="row">
  <div class="col-lg-6">
    <rd-widget>
	  <rd-widget-header icon="fa-tasks" title="Level 1 ยาทิงเจอร์ทองพันชั่ง"></rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
			<thead>
				<tr>
				  <th>ID</th>
				  <th>ID USER</th>
				  <th>คะแนนเก็บยา</th>
			      <th>คะแนนสับยา</th>
			      <th>คะแนนตำยา</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
				  <td>{{user.id}}</td>
				  <td>{{user.id_user}}</td>
				  <td>{{user.score_p1_l1}}</td>
				  <td>{{user.score_p2_l1}}</td>
				  <td>{{user.score_p3_l1}}</td>
				</tr>
			</tbody>
          </table>
        </div>      
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
	  <rd-widget-header icon="fa-tasks" title="Level 2 ยาเปลือกมังคุด"></rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
			<thead>
				<tr>
				  <th>ID</th>
				  <th>ID USER</th>
				  <th>คะแนนเก็บยา</th>
			      <th>คะแนนสับยา</th>
			      <th>คะแนนตำยา</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
				  <td>{{user.id}}</td>
				  <td>{{user.id_user}}</td>
				  <td>{{user.score_p1_l1}}</td>
				  <td>{{user.score_p2_l1}}</td>
				  <td>{{user.score_p3_l1}}</td>
				</tr>
			</tbody>
          </table>
        </div>      
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <rd-widget>
	  <rd-widget-header icon="fa-tasks" title="Level 3 ยาแก้ไอผสมมะขามป้อม"></rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
			<thead>
				<tr>
				  <th>ID</th>
				  <th>ID USER</th>
				  <th>คะแนนเก็บยา</th>
			      <th>คะแนนสับยา</th>
			      <th>คะแนนตำยา</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
				  <td>{{user.id}}</td>
				  <td>{{user.id_user}}</td>
				  <td>{{user.score_p1_l1}}</td>
				  <td>{{user.score_p2_l1}}</td>
				  <td>{{user.score_p3_l1}}</td>
				</tr>
			</tbody>
          </table>
        </div>      
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
	  <rd-widget-header icon="fa-tasks" title="Level 4 ยาเธาตุอบเชย"></rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
			<thead>
				<tr>
				  <th>ID</th>
				  <th>ID USER</th>
				  <th>คะแนนเก็บยา</th>
			      <th>คะแนนสับยา</th>
			      <th>คะแนนตำยา</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
				  <td>{{user.id}}</td>
				  <td>{{user.id_user}}</td>
				  <td>{{user.score_p1_l1}}</td>
				  <td>{{user.score_p2_l1}}</td>
				  <td>{{user.score_p3_l1}}</td>
				</tr>
			</tbody>
          </table>
        </div>      
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <rd-widget>
	  <rd-widget-header icon="fa-tasks" title="Level 5 ยาลูกประคบ"></rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
			<thead>
				<tr>
				  <th>ID</th>
				  <th>ID USER</th>
				  <th>คะแนนเก็บยา</th>
			      <th>คะแนนสับยา</th>
			      <th>คะแนนตำยา</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
				  <td>{{user.id}}</td>
				  <td>{{user.id_user}}</td>
				  <td>{{user.score_p1_l1}}</td>
				  <td>{{user.score_p2_l1}}</td>
				  <td>{{user.score_p3_l1}}</td>
				</tr>
			</tbody>
          </table>
        </div>      
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
	  <rd-widget-header icon="fa-tasks" title="Level 6 ยาประสะกะเพรา"></rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
			<thead>
				<tr>
				  <th>ID</th>
				  <th>ID USER</th>
				  <th>คะแนนเก็บยา</th>
			      <th>คะแนนสับยา</th>
			      <th>คะแนนตำยา</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
				  <td>{{user.id}}</td>
				  <td>{{user.id_user}}</td>
				  <td>{{user.score_p1_l1}}</td>
				  <td>{{user.score_p2_l1}}</td>
				  <td>{{user.score_p3_l1}}</td>
				</tr>
			</tbody>
          </table>
        </div>      
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <rd-widget>
	  <rd-widget-header icon="fa-tasks" title="Level 7 ยาจันทน์ลีลา"></rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
			<thead>
				<tr>
				  <th>ID</th>
				  <th>ID USER</th>
				  <th>คะแนนเก็บยา</th>
			      <th>คะแนนสับยา</th>
			      <th>คะแนนตำยา</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
				  <td>{{user.id}}</td>
				  <td>{{user.id_user}}</td>
				  <td>{{user.score_p1_l1}}</td>
				  <td>{{user.score_p2_l1}}</td>
				  <td>{{user.score_p3_l1}}</td>
				</tr>
			</tbody>
          </table>
        </div>      
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
	  <rd-widget-header icon="fa-tasks" title="Level 8 ยาหอมแก้ลมวิงเวียน"></rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
			<thead>
				<tr>
				  <th>ID</th>
				  <th>ID USER</th>
				  <th>คะแนนเก็บยา</th>
			      <th>คะแนนสับยา</th>
			      <th>คะแนนตำยา</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
				  <td>{{user.id}}</td>
				  <td>{{user.id_user}}</td>
				  <td>{{user.score_p1_l1}}</td>
				  <td>{{user.score_p2_l1}}</td>
				  <td>{{user.score_p3_l1}}</td>
				</tr>
			</tbody>
          </table>
        </div>      
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <rd-widget>
	  <rd-widget-header icon="fa-tasks" title="Level 9 ยาประสะจันทน์แดง"></rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
			<thead>
				<tr>
				  <th>ID</th>
				  <th>ID USER</th>
				  <th>คะแนนเก็บยา</th>
			      <th>คะแนนสับยา</th>
			      <th>คะแนนตำยา</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
				  <td>{{user.id}}</td>
				  <td>{{user.id_user}}</td>
				  <td>{{user.score_p1_l1}}</td>
				  <td>{{user.score_p2_l1}}</td>
				  <td>{{user.score_p3_l1}}</td>
				</tr>
			</tbody>
          </table>
        </div>      
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
	  <rd-widget-header icon="fa-tasks" title="Level 10 ยาแก้ไอพื้นบ้านอีสาน"></rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
			<thead>
				<tr>
				  <th>ID</th>
				  <th>ID USER</th>
				  <th>คะแนนเก็บยา</th>
			      <th>คะแนนสับยา</th>
			      <th>คะแนนตำยา</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
				  <td>{{user.id}}</td>
				  <td>{{user.id_user}}</td>
				  <td>{{user.score_p1_l1}}</td>
				  <td>{{user.score_p2_l1}}</td>
				  <td>{{user.score_p3_l1}}</td>
				</tr>
			</tbody>
          </table>
        </div>      
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
